<div class="container">
<div class="row">
<div class="col-md-12" align="center">
<h1>Editar Lista de tareas Chida</h1>

<%= render 'form', todo_list: @todo_list %>

<%= link_to 'Mostrar', @todo_list %> |
<%= link_to 'Regresar', todo_listas_path %>
</div>
</div>
</div>