<div class="container">
<div class="row">
<div class="col-md-12" align="center">
<h1>Nueva Lista ToDo</h1>

<%= render 'form', todo_list: @todo_list %>

<%= link_to 'Regresar', todo_lists_path %>
</div>
</div>
</div>